/* รูปแบบสำหรับหน้าจอขนาดเล็ก */
  @media (max-width: 768px) {
    .container {
      width: 100%;
    }
    .column {
      width: 100%;
    }
  }
  
  /* รูปแบบสำหรับหน้าจอขนาดกลาง */
  @media (min-width: 769px) and (max-width: 992px) {
    .container {
      width: 90%;
    }
    .column {
      width: 50%;
    }
  }
  
  /* รูปแบบสำหรับหน้าจอขนาดใหญ่ */
  @media (min-width: 993px) {
    .container {
      width: 80%;
    }
    .column {
      width: 33.33%;
    }
  } 

.navbar-bar .nav-item {
  font-size: 24px;
  color: rgb(0, 0, 0);
}

.navbar-bar .nav-item:hover {
  color: #ffffff;
}

.toon {
  background: url('/devmode/intro/assets/images/IMG_4741.PNG');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.non {
  background: url('/devmode/intro/assets/images/IMG_4737.PNG');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.deen {
  background: url('/devmode/intro/assets/images/IMG_4739.PNG');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.bell {
  background: url('/devmode/intro/assets/images/IMG_4736.PNG');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.parn {
  background: url('/devmode/intro/assets/images/IMG_4735.PNG');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

 h1 {
  font-size: 48px;
  color: #000000;
  padding-top: 90px;
  padding-left: 40px;
}

 h2 {
  font-size: 24px;
  color: #000000;
  padding-left: 50px;
}

 h3 {
  font-size: 24px;
  color: #000;
  padding-left: 50px;
}

 .progress {
  margin-left: 50px;
  margin-bottom: 10px;
  width: 50vh;
}